@model IEnumerable<EShopHA.Models.Product>


@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #ffffff;
    }

    section {
        padding-left: 19px;
        padding-right: 19px;
        float: left;
        text-align: center;
        margin-right: 10px;
        background-color: #161515;
    }

        section ul {
            margin: 10px;
            margin-left: 0px;
            padding-left: 12px;
            text-align: center;
            color: white;
        }

        section li {
            display: block;
            text-align: center;
            padding-top: 1px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-family: Arial;
            list-style-type: none;
            color: #989595;
            font-size: large;
        }

            section li a {
                color: #989595;
                text-decoration: none;
            }

                section li a:hover {
                    color: white;
                    text-decoration: none;
                }

    h2 {
        background-color: #161515;
        text-align: center;
        color: #989595;
    }

    .img-responsive {
        float: left;
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<h2>Products</h2>

<section id="menu">
    <ul>
        <li><a href="~/Products/Alchohol">Alcohols</a></li>
        <li><a href="~/Products/Hookah">Hookas</a></li>
    </ul>

    <div class="img-responsive">
        <img src="~/Pictures/Products.jpg" width="94%" />
    </div>
</section>

