@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>-->
<!--<h3>@ViewBag.Message</h3>-->

<style>
    h2.contact {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        font-family: 'Courier New';
        font-weight: bold;
        font-size: 40px;
    }

    p.about {
        margin: 2%;
        font-family: 'Courier New';
        font-size: 19px;
        text-align: justify;
        text-indent: 10px;
    }
</style>

<h2 class="contact">About Our Shop</h2>

<p class="about">Tiger Shop is a newly online shop for vodka and hookahs whose owners are a group of students colleagues and friends. The idea for the site came as a joke when we were forced to make a team course project. It was not easy neither to figure it out nor to work in such a big group. Fortunately, in the end, the sait worked successfully and our efforts were not in vain. The whole team was so satisfied from the reached that we have decided to start a small business for online shopping.</p>
<p class="about">Tiger Shop provides a professional, friendly and knowledgeable staff that can assist both our enthusiasts and uncertain shoppers. We are here to help you find the perfect beverage that will fit your needs for any occasion. Be sure to ask our staff what beverage will pair best with any foods, glassware and related bar and wine accessories.</p>
<p class="about">
    You can browse through the same vast selection through our online shopping cart from the convenience of your home or office and choose to pick it up or have it delivered to your door.
</p>