@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    #contact {
        width: 17%;
        margin: 1%;
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        padding-top: 1.5%;
        height: 35%;
    }

    img.photo {
        width: 100%;
        height: 200px;
        margin-bottom: 0px;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-11">
        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/angel.jpg">
                Angel Ivanov Georgiev<br />
                angellbgpl@gmail.com<br />
                <abbr title="Phone">+359 892431512</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/daniel.jpg">
                Daniel Dinkov Dinev<br />
                email<br /> <!--email-->
                <abbr title="Phone">+359 892431512</abbr> <!--nomer-->
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/dona.jpg">
                Dona Ivanova Kalincheva<br />
                donak2107@gmail.com<br />
                <abbr title="Phone">+359 899931311</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/iliyan.jpg">
                Iliyan Lubomirov Stoyanov<br />
                virus_22@abv.bg<br /> <!--email-->
                <abbr title="Phone">+359 894760362</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/ivo.jpg">
                Ivailo Stefanov Vasilev<br />
                email<br /> <!--email-->
                <abbr title="Phone">+359 886624900</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/georgi.jpg">
                Georgi Antonov Stamatov<br />
                email<br /> <!--email-->
                <abbr title="Phone">+359 887180807</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/marina.jpg">
                Marina Pavlova Dyankova<br />
                email<br /> <!--email-->
                <abbr title="Phone">+359 892331181</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/silvia.jpg">
                Silvia Rumenova Ivanova<br />
                silviaivanova929@gmail.com<br />
                <abbr title="Phone">+359 893749475</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/valentin.jpg">
                Valentin Ivanov Romanov<br />
                email<br /> <!--email-->
                <abbr title="Phone">+359 896898704</abbr>
            </address>
        </div>

        <div id="contact">
            <address>
                <img class="photo" src="~/Pictures/velina.jpg">
                Velina Stoyanova Ilieva<br />
                velina.ilieva.46@gmail.com<br />
                <abbr title="Phone">+359 890205031</abbr>
            </address>
        </div>
    </div>

</div>
<!--<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->
