<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniAdminPanel.Properties.Settings.aspnet_EShopHA_20160524043511ConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\Uni\EShopHA\EShopHA\App_Data\aspnet-EShopHA-20160524043511.mdf;Initial Catalog=aspnet-EShopHA-20160524043511;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MiniAdminPanel.Properties.Settings.ProductDBContextConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\Uni\EShopHA\EShopHA\App_Data\ProductDBContext.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>